*{
  margin: 0;
  padding: 0;

}

body {
  background-color: #262a34;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 300px;
  margin: 0;
  padding: 0;
}

/* criar classe apenas para configurações de margem. class"margin-300" */
header{
  
}

main{
  background-color: #2d323d;
  /* width: auto; */
}


p {
  color: white;
}

a {
  text-decoration: none;
  color: #d7afff;
}

a:hover {
  color: #af87ff;
}

/* page home  -------------------------------------------------*/
.nav-container{
  height: 80px;
  margin-top: 15px;
}


#logo {
  position: absolute;
  float: left;
  /* com o logo com nome: deixar margin 0 */
  margin-top: 10px; 
  padding: 0;  
}

.ul-navbar{
 list-style: none;
 color: #d7afff;
 text-align: center;
 float: right; 
 margin-top: 20px;
 font-weight: 600;
}

/* descendência: aplicará para todos A dentro de LI que são filhos de um UL */
ul li a:hover {
  color: white;
}

.nav-item {
  text-align: center;
  display: inline;
  padding: 10px;
 
}

.home-wrapper{
  margin-bottom: 200px;
}

.home-text-wrapper{
  margin-top: 100px;
  margin-bottom: 100px;
  display: inline-block;
}


.hi {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.title-name {
  font-family: "Cabin", sans-serif;
  font-size: 80px;
  margin: 0px;
  padding: 0;
  line-height: 70px;  
}

.sub-title-home {
  color: #0ba2be;
  margin-top: 20px;
  font-size: 24px;
}

.homep {
  margin-bottom: 30px;
  margin-top: 10px;
  max-width: 40%;
  text-align: justify;
  
}

.button {
  background-color: #0ba2be;
  color: white;
  width: 20px;
  height: 6px;
  border-radius: 3rem;
  padding: 15px 35px;
  margin-top: 5px;
}

.button:hover {
  background-color: #1f8294;
  color: white;
  width: 20px;
  height: 6px;
  border-radius: 3rem;
  padding: 15px 35px;
}

.profilepicture {
  margin-top: -490px;
  float: right;  
}

/* end of home pg -------------------------------------------------- */

/* about pg --------------------------------------------------------- */
#about {
  padding-top: 80px;
  
 
}

/* class que engloba do about até disclamer: */
.about-1-wrapper{
  
}

.skill-section{
  padding-top: 200px;
  margin-top: 100px;
}

.sub-title {
  color: #0ba2be;
  font-size: 30px;  
  padding: 2em 0 1em 0;
  font-weight: 300;
  
}
 
/* text about me */
.skills-text{
  max-width: 40%;
  text-align: justify;  
 
}

.skills-list li{
  max-width: 40%;
  text-align: justify; 
}

/* list of skills */
.nodeco {
  list-style: none;
}

/* lilac changes the 'pointer' of the li */
.lilac {
  color: #d7afff;
  font-weight: 900;
}

#memoji{
 float:right;
 margin-top: -590px;
}

#disclamer span{
  font-weight: 600;
  font-size: 12px;
  color: rgb(172, 170, 170);
}

#disclamer {
  color: #0ba3be71;
  font-size: 12px;
  margin-top: 200px;
}

#disclamer:hover{
  color: #0ba2be;
  font-size: 16px;
  margin-top: 200px;
}


.principle-container{
  /* acho que não vou usar por agora kkkk */
  margin-top: 30px;
  margin-bottom: 100px;
  margin-right: -35px;
}

.principle-card{
  background-color: #333845;
  box-shadow: -1px 11px 42px 0px #22212179;
  border-radius: 0.5em;
  font-size: 14px;
  font-weight: 200;
  padding: 1.5em;
  cursor: pointer;
  display: inline-block;
  max-width: 20%;
  margin-right: 20px;
  margin-bottom: 50px;
  
}

.card-text h4{
  padding: 2px 0;
  color: white;
  text-align: justify;
}



/* end of about pg----------------------------------------------- */

/* footer pg --------------------------------------------------- */
footer {
  background-color: #495057;
  text-align: center;
  padding: 1em;
  font-size: 20px;
  
}



.fot-item {
  display: inline-block; 
  padding: 12px 12px 0 0;
}

.margin300{
  margin: 0 200px;
}