body {
  background-color: #262a34;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 16px;
  margin-left: 50px;
  margin-right: 50px;
  font-weight: 400;
}

p {
  color: white;
}

a {
  text-decoration: none;
  color: #d7afff;
}

a:hover {
  color: #af87ff;
}

/* page home  -------------------------------------------------*/
.nav-container{
  width: 100%;
  height: 80px;
  display: flexbox;
}


#logo {
  position: absolute;
  float: left;
  /* com o logo com nome: deixar margin 0 */
  margin-top: 10px; 
  padding: 0;

  
}

/* .navbar {
  text-align: center;
  text-transform: lowercase;
} */

.ul-navbar{
 list-style: none;
 color: #d7afff;
 text-align: center;
  /* display: flex;
 flex-direction: row; */
 float: right; 
 margin-top: 20px;
 font-weight: 600;
}

/* .ul-navbar>a:hover {
  color: white;
} */

.nav-item {
  text-align: center;
  display: inline;
  padding: 10px;
 
}


.hi {
  font-size: 20px;
  font-weight: 400;
}

.title-name {
  font-family: "Cabin", sans-serif;
  font-size: 60px;
  margin: 0px;
  padding: 0;
  line-height: 60px;  
}

.sub-title-home {
  color: #0ba2be;
  margin-top: 20px;
}

.homep {
  margin-bottom: 30px;
  margin-top: 10px;
  width: 80%;
  
}

.button {
  background-color: #0ba2be;
  color: white;
  width: 20px;
  height: 6px;
  border-radius: 3rem;
  padding: 10px 35px;
}

.button:hover {
  background-color: #1f8294;
  color: white;
  width: 20px;
  height: 6px;
  border-radius: 3rem;
  padding: 10px 35px;
}

.profilepicture {
  margin-top: 50px;
}

/* end of home pg -------------------------------------------------- */

/* about pg --------------------------------------------------------- */

.sub-title {
  color: #0ba2be;
}
 
/* text about me */

/* list of skills */
.nodeco {
  list-style: none;
}

/* lilac changes the 'pointer' of the li */
.lilac {
  color: #d7afff;
  font-weight: 900;
}

#memoji{

}

#disclamer {
  color: #0ba2be;
  font-size: 12px;
}


.about-work {
  font-size: 14px;
  font-weight: 300;
  list-style: none;
}

/* end of about pg----------------------------------------------- */

/* footer pg --------------------------------------------------- */
footer {
  height: 80px;
  background-color: #495057;
  width: 100%;
  padding: 25px;
  text-align: center;
  font-size: 18px;
}

.fot-item {
  display: inline-block; 
}
