body{
    background-color: #262a34;
    font-family: 'Urbanist', sans-serif;
    color: white;
}

p{
    color: white;
}

h1, h2, h3, h4{
    color: white;
}

a{
    text-decoration: none;
    color: #d7afff;
    
    
}

.nav-item{
    display: inline-block;
    padding: 10px;
}
.fot-item{
    display: inline-block;
    padding: 10px;
}

.nav-title{
    display: inline-block;
    padding: 0px, 15px, 15px, 15px;
}
